
{% block footer %}
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Anromeda Group.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Oreon CMS & Develop by Andromeda Group
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
{% endblock footer %}
    